<h1>My name is <%=@name%></h1>

<img src='http://bit.ly/1eze8aE'>

<% if @name==nil %>
<form action='/named-cat' method = 'post'>
  What's my name: <input type ="text" name = "name" >
  <input type="submit" value = "OK!">
  </form>
<% end %>


<div style ='border: 10px solid black'>
</div>
<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
</div>
